{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 shrink-to-fit=no"
    />

     
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap.min.css' %}"
    />

    <title>Cosmetics</title>
  </head>
  <body></body>
  <h1>Cosmetics</h1>
  {% block content %}
  {% endblock content %}
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</html>
